// colors
$primary-orange: #FA6400;
$utlralight-orange: #FFE5D4;
$light-orange: #FF7E28;
$dark-orange: #CC5200;
$input-background: #F8F8F8;
$light-disabled: #FCFDFF;
$controller-header-border: #F0F0F0;
$input-border: #E5E5E5;
$disabled: #D7D7D7;
$pale-grey: #CFCFD0;
$light-grey: #AEAEAE;
$dark-gray: #666666;
$text-primary: #3C3C3C;
$black: #191819;
$black-transparent: rgba(0, 0, 0, 0.21);
$light-yellow: #FFE9BF;
$yellow: #F9CD57;
$error: #FFC9C9;
$text: #3C3C3C;
$ultralight-gray: #F6F6F6;
$white: #ffffff;
$ultralight-gray: #F6F6F6;
$darkest-white: #FBFBFB;
$warning: #F44336;
$input-border-gray: #D8D8D8;
$red: #EA4335;

// fonts
$montserrat: 'Montserrat';
$brother1816: 'Brother 1816';

// screens
$screen-xs-min: 320px;
$screen-xs-max: 480px;
$screen-sm-min: 481px;
$screen-sm-max: 768px;
$screen-md-min: 769px;
$screen-md-middle: 900px;
$screen-mdm-max: 992px;
$screen-md-max: 1024px;
$screen-lg-min: 1025px;
$screen-lg-max: 1200px;
$screen-xl-min: 1201px;
$screen-xl-max: 1439px;
